In [1]:
from psaw import PushshiftAPI

api = PushshiftAPI()

In [2]:
import pandas as pd
from datetime import datetime

In [21]:
#search for posts
start_epoch=int(datetime(2021, 10, 1).timestamp())
end_epoch=int(datetime(2021, 12, 1).timestamp())

api_request_generator = api.search_submissions(after=start_epoch,
                            before = end_epoch,
                            subreddit='antiwork',
                            limit=1000,
                            score = ">200")

df = pd.DataFrame([submission.d_ for submission in api_request_generator])

df["created_utc"] = df["created_utc"].apply(datetime.fromtimestamp)

In [22]:
df.shape

(35, 72)

In [23]:
df[['title', 'score','created_utc']].sample(10)

,title,score,created_utc
1,A Thought From Early In The Pandemic...,349,2021-11-02 00:36:58
2,Show me the lie,222,2021-11-01 23:47:51
33,"Decided to not go to my shift today, but spend...",382,2021-10-05 10:56:29
23,How to feel less feelings to be a better worker.,1141,2021-10-05 22:06:00
26,I enjoy getting needles jabbed into my skin wa...,1924,2021-10-05 17:46:53
31,There's never enough time!,1186,2021-10-05 12:45:59
11,Just resigned: My company asked for a two mont...,524,2021-10-06 16:17:41
16,We need Unions,631,2021-10-06 03:37:17
0,Discuss your pay,399,2021-11-02 02:34:42
7,I JUST QUIT MY JOB BITCHES!!!! WOOOOO!!!,365,2021-10-06 17:47:13

In [29]:
#To sort by and manipulate date information
df['date'] = pd.to_datetime(df['created_utc'], utc=True, unit='s')
df[['author', 'date', 'title', 'selftext', 'url', 'subreddit', 'score', 'num_comments', 'num_crossposts']].head(10)

,author,date,title,selftext,url,subreddit,score,num_comments,num_crossposts
0,trashpandapandatrash,2021-11-02 02:34:42+00:00,Discuss your pay,,https://i.redd.it/8ummnggx53x71.jpg,antiwork,399,904,0
1,SparksThirteenFour,2021-11-02 00:36:58+00:00,A Thought From Early In The Pandemic...,,https://i.redd.it/p5qb20axk2x71.jpg,antiwork,349,104,0
2,Judgemental_Panda,2021-11-01 23:47:51+00:00,Show me the lie,,https://i.redd.it/gnie8h06wzw71.jpg,antiwork,222,34,0
3,TonyFugginMontana,2021-11-01 21:56:08+00:00,Words of wisdom,,https://i.redd.it/060kz3k4s1x71.png,antiwork,395,205,1
4,mk101395,2021-11-01 21:07:23+00:00,Got a call for a interview with a solar compan...,I just got off the phone with a company they c...,https://www.reddit.com/r/antiwork/comments/qkm...,antiwork,377,2987,0
5,tsj48,2021-10-06 22:08:56+00:00,Earning a living,,https://i.redd.it/7g47lik30wr71.jpg,antiwork,475,387,0
6,Sayl0,2021-10-06 18:48:30+00:00,"Slaving away in the ""Land of the free""",,https://i.redd.it/1r1ovvec0vr71.jpg,antiwork,270,57,0
7,DumDumDan3,2021-10-06 17:47:13+00:00,I JUST QUIT MY JOB BITCHES!!!! WOOOOO!!!,,https://www.reddit.com/r/antiwork/comments/q2n...,antiwork,365,175,0
8,BEluXuRe,2021-10-06 17:42:12+00:00,Found this over on r/WhitePeopleTwitter,,https://i.redd.it/mvxppouhour71.png,antiwork,293,330,0
9,Matador32,2021-10-06 16:47:47+00:00,"*taps sign* Remember, we don't cross picket lines",,https://i.redd.it/y4a5mi6seur71.jpg,antiwork,345,295,0

In [26]:
#search for comments
start_epoch=int(datetime(2021, 10, 1).timestamp())
end_epoch=int(datetime(2021, 12, 1).timestamp())

api_request_generator = api.search_comments(
                            q='work',
                            after=start_epoch,
                            before = end_epoch,
                            limit=1000,
                            score = ">200")

df2 = pd.DataFrame([submission.d_ for submission in api_request_generator])

df2["created_utc"] = df2["created_utc"].apply(datetime.fromtimestamp)

In [27]:
df[['title', 'score','created_utc']].sample(10)

,title,score,created_utc
28,"Yesterday, with no notice, my employer cancell...",1106,2021-10-05 15:19:52
0,Discuss your pay,399,2021-11-02 02:34:42
15,Reality,1761,2021-10-06 05:33:59
29,High Energy Environment,1556,2021-10-05 15:12:02
26,I enjoy getting needles jabbed into my skin wa...,1924,2021-10-05 17:46:53
4,Got a call for a interview with a solar compan...,377,2021-11-01 21:07:23
21,It’s so funny that the news is basically rich ...,1163,2021-10-05 22:54:37
24,This is so true,394,2021-10-05 19:12:34
11,Just resigned: My company asked for a two mont...,524,2021-10-06 16:17:41
33,"Decided to not go to my shift today, but spend...",382,2021-10-05 10:56:29